<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.series.title %>
</p>

<p>
  <b>Series Description:</b>
  <%= @event.series.description %>
</p>

<p>
  <b>Event Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Community:</b>
  <%= link_to @event.community.name, @event.community %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Cost:</b>
  <%= @event.cost %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> 
