Hello, <%= @user.username %>!

<% if(!@user.location) %>
  <div id='select_location'> 
    Select your location to see events happening in your area!
    <%= form_tag(set_location_user_path(@user), :method => 'post') do |f| %>
      <div class="field">
        <%= label_tag :location, 'Location' %>: <%= select_tag :location, options_for_select(Location.all.collect { |loc| [loc.to_s, loc.id] }), {:include_blank => 'Select...'} %><br/>
	<%= submit_tag 'Set Location' %>
      </div>
    <% end %>
    <br/>
    <!-- Make this an AJAX popup. --> 
    Can't find your city? <%= link_to 'Add it.', new_location_path %>
  </div>
<% end %>

<br/>
<%= link_to "View Account", user_path(@user.id) %>
<br/>

<%= link_to "Logout", '/application/logout' %>
