<p id="notice"><%= notice %></p>
Hello, World!

<%= form_tag :action => 'authenticate' %>

Email: <%= text_field("login", "email",:size=>"20" ) %>
<br/>
Password: <%= password_field("login", "password",:size=>"20" ) %>
<input type="submit" value="Login" />

<br/>
<%= link_to "Create Account", new_user_path %>


<br/>

<div id="locations">

  <%= link_to "View all Locations", locations_path %>
</div>

<div id="popular_communities">

  <%= link_to "View all Communities", communities_path %>
</div>

<div id="popular_events">

  <%= link_to "View all Events", events_path %>
</div>
