<!-- Top Navigation -->
<div id="top_nav">
  <div class="main_menu">
    <div class="center">
      <div class="left">
        <ul>
          <li class="left_nav_item"><%= link_to "Home", :root %></li>
          <li class="left_nav_item"><%= link_to "About Us", :root %></li>
        </ul>
      </div>
      <div class="right">
        <ul>
	  <% if logged_in? %>
	    <li class="right_nav_item"><%= link_to 'Logout', '/users/logout' %></li>
	  <% else %>
            <li class="right_nav_item"><%= link_to 'Login', '/users/login' %></li>
            <li class="right_nav_item"><%= link_to 'Sign Up', new_user_path %></li>
	  <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Top Navigation -->
