<!-- Top Navigation -->
<div id="top_nav">
  <div class="main_menu">
    <div class="left">
      <ul>
        <li class="left_nav_item"><%= link_to "Home", :root %></li>
        <li class="left_nav_item"><%= link_to "About Us", :root %></li>
      </ul>
    </div>
    <!-- <div class="right">
      <ul>
	<% if logged_in? %>
	  <li class="right_nav_item"><%= link_to 'Logout', logout_users_path %></li>
	<% else %>
          <li class="right_nav_item"><%= link_to 'Login', login_users_path %></li>
          <li class="right_nav_item"><%= link_to 'Sign Up', new_user_path %></li>
	<% end %>
      </ul>
    </div> -->
  </div>
</div>
<!-- End Top Navigation -->
